{{- if .Values.autoscaling.enabled }}
{{- if eq .Values.autoscaling.mode "external" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.labels.app }}-aws-sqs-scaled-object
  annotations:
    description: "{{ .Chart.Description }}"
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  AWS_ACCESS_KEY_ID: {{ .Values.autoscaling.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.autoscaling.AWS_SECRET_ACCESS_KEY }} 
{{- end }}
{{- end }}